<a href="https://colab.research.google.com/github/rajgit-123/MyProject/blob/master/MOVIES_DATASET_FOR_FEATURE_EXTRACION_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
bharatnatrayn_movies_dataset_for_feature_extracion_prediction_path = kagglehub.dataset_download('bharatnatrayn/movies-dataset-for-feature-extracion-prediction')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/movies-dataset-for-feature-extracion-prediction/movies.csv

In [ ]:
import numpy as np
import pandas as pd

#load the dataset from location
path= "/kaggle/input/movies-dataset-for-feature-extracion-prediction"
df=pd.read_csv(path + "/movies.csv")
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [ ]:
# Verify the dtypes
#df.info()
df.isnull().sum() # to check  null vaules

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [ ]:
#Clean Year column
#df['YEAR'] = df['YEAR'].str.strip('()').astype(int)

#remove paranthesis left
df['YEAR']=df.YEAR.str.replace("(", "")
#remove paranthesis right
df['YEAR']=df.YEAR.str.replace(")", "")
#df.head()
#df["YEAR"].fillna(inplace = True)

#remove character in middle
df['YEAR']=df.YEAR.str.replace("–", ",")
#df.head()

restore year column with starting year from the given years
df["YEAR"]=df.YEAR.str.split(",").str.get(0)
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [ ]:
#clean GENRE Column
#remove the new line character from the data
df['GENRE']=df.GENRE.str.replace("\n", "")
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010,"Drama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [ ]:
#clean ONE-LINE Column

#rename the coulmn name as ONE_LINE
df = df.rename(columns={'ONE-LINE': 'ONE_LINE'})
#df.head()

#remove new line character from the data
df['ONE_LINE']=df.ONE_LINE.str.replace("\n", "")
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE_LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes and Stars:Rya...,"205,979",118.0,$75.47M
85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg and Stars:S...,"897,444",127.0,$402.45M
95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez and Stars:Steph...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson and Stars:Elij...,"1,713,028",178.0,$315.54M
125,Escape Room,I 2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel and Stars:Taylo...,"99,351",99.0,$57.01M

In [ ]:
#clean STARS Column

#rename the coulmn name as Cast
df = df.rename(columns={'STARS': 'CAST'})
#replace | characcter with and
df['CAST']=df.CAST.str.replace("|", " and ")
df.tail()
#remove the new line character from the data
df['CAST']=df.CAST.str.replace("\n", "")
df.head()
#df['STARS']=df.STARS.str.replace("\n", "")

,MOVIES,YEAR,GENRE,RATING,ONE_LINE,CAST,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes and Stars:Rya...,"205,979",118.0,$75.47M
85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg and Stars:S...,"897,444",127.0,$402.45M
95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez and Stars:Steph...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson and Stars:Elij...,"1,713,028",178.0,$315.54M
125,Escape Room,I 2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel and Stars:Taylo...,"99,351",99.0,$57.01M

In [ ]:
#clean Gross Column

#df=df.dropna(subset=['Gross'])
#df.shape
df=df.dropna(subset=['Gross'])
df.drop(df.loc[df['Gross'] == 'NaN'].index, inplace=True)
#df.shape
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE_LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes and Stars:Rya...,"205,979",118.0,$75.47M
85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg and Stars:S...,"897,444",127.0,$402.45M
95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez and Stars:Steph...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson and Stars:Elij...,"1,713,028",178.0,$315.54M
125,Escape Room,I 2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel and Stars:Taylo...,"99,351",99.0,$57.01M

In [ ]:
#Clean Year column
#df['YEAR'] = df['YEAR'].str.strip('()').astype(int)

df['YEAR']=df.YEAR.str.replace("(", "")
df['YEAR']=df.YEAR.str.replace(")", "")
df["YEAR"].fillna("NaN", inplace = True)

df['YEAR']=df.YEAR.str.replace("–", ",")
df["YEAR"]=df.YEAR.str.split(",").str.get(0)


#df.tail(90)
df.isnull().sum() # to check  null vaules
df["YEAR"].fillna("NaN", inplace = True)
df["RATING"].fillna("No Rating", inplace = True)
df["VOTES"].fillna("No Votes", inplace = True)
df["RunTime"].fillna("NaN", inplace = True)
df["GENRE"].fillna("NaN", inplace = True)
df["Gross"].fillna("NaN", inplace = True)
#df["YEAR_END"].fillna("No Votes", inplace = True)
df['STARS']=df.STARS.str.replace("|", " and ")
df.tail(90)
df['STARS']=df.STARS.str.replace("\n", "")
df['GENRE']=df.GENRE.str.replace("\n", "")
df = df.rename(columns={'ONE-LINE': 'ONE_LINE'})

df['ONE_LINE']=df.ONE_LINE.str.replace("\n", "")
df['YEAR']=df.YEAR.str.replace("–", ",")
df["YEAR"]=df.YEAR.str.split(",").str.get(0)


#df.head()


df=df.dropna(subset=['Gross'])
df.drop(df.loc[df['Gross'] == 'NaN'].index, inplace=True)
#df.shape

In [ ]:
#df["YEAR_START"] = df["YEAR_START"].astype(int)

def clean_year_start(x):
    x=x.replace("(","")
    x=x.replace(")","")
    x=x.replace("-","")
    return x
#df["YEAR_START"]=df["YEAR"].astype(int).apply(clean_year_start)