<a href="https://colab.research.google.com/github/rajgit-123/MyProject/blob/master/Sampleprograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This note book starts with python beginner programs

1.Program for basic Arith-ops

In [ ]:
#Addition Op +
num1= int(input("enter number for num1 :"))
num2= int(input("enter number for num2 :"))
sumofnums=num1+num2
print("Sum of numbers is :", sumofnums)

#subtraction Op -
subofnums=num1-num2
print("subtraction of numbers is :",subofnums  )

#multiplication Op *
multofnums=num1*num2
print("Multiplication of numbers is ", multofnums)

#devision  Op /
if(num2==0):
  print("Error: Division by zero is not allowed.")
else:
  divofnums=num1/num2
  print("Division of numbers is :", divofnums)

#mod Op %
if(num2==0):
  print("Error: Zero is not allowed in denominator.")
else:
  modofnums=num1%num2
  print("mod of numbers is : ", modofnums)

#Sqare Op **
sqrofnums=num1**num2
print("Sqare of numbers is : ", sqrofnums)

enter number for num1 :10
enter number for num2 :0
Sum of numbers is : 10
subtraction of numbers is : 10
Multiplication of numbers is  0
Error: Division by zero is not allowed.
Error: Zero is not allowed in denominator.
Sqare of numbers is :  1

Program to find Area of triangel
Hint: Area=1/2(length*height)

In [ ]:
length = float(input("Enter trianle length :"))
height = float(input("Enter trinagle height :"))

area=1/2*length*height

print("Area of traiangle is :", area)

Enter trianle length :10
Enter trinagle height :15
Area of traiangle is : 75.0

Program for swap two numbers

In [ ]:
var1= int(input("Enter value for var1 : "))
var2= int(input("Enter value for var2 : "))

print(f"Values before swapping var1={var1}, var2={var2}")

#without temp with operators
var1= var1+var2
var2=var1-var2
var1=var1-var2
print(f"Values after swapping without temp var1={var1}, var2={var2}")

#with temp with swapped values var1=20,var2=10
print(f"Values before swapping var1={var1}, var2={var2}")
temp=var1
var1=var2
var2=temp
print(f"Values after swapping with temp var1={var1}, var2={var2}")

Enter value for var1 : 10
Enter value for var2 : 20
Values before swapping var1=10, var2=20
Values after swapping without temp var1=20, var2=10
Values before swapping var1=20, var2=10
Values after swapping with temp var1=10, var2=20

Program to genrate random number between given range
Hint: using random function

In [ ]:
import random
print(f"Print Random number each time we run, {random.randint(1,50)}")

Print Random number each time we run, 41

Program to convert meter to centimeter
meters to kilometers
Hint: 1km = 1000 meters
1 meter=100 cms

In [ ]:
var1=int(input("Enter meters to convert :"))
centimeters=var1*100
print(f"{var1} meters are equals to {centimeters} centimeters.")
kilometer=var1/1000
print(f"{var1} meters are equals to {kilometer} kilometers.")

Enter meters to convert :500
500 meters are equals to 50000 centimeters.
500 meters are equals to 0.5 kilometers.

Program to print Calander of given year month
Hint: Using calander function

In [ ]:
import calendar
year=int(input("Enter year of calendar :"))
month=int(input("Enter month of calendar :"))

cal=calendar.month(year,month)
print("Find the calendar of given year and month ", cal)

Enter year of calendar :1990
Enter month of calendar :8
Find the calendar of given year and month      August 1990
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

Program to find given number is Positive or Negetive or Zero

In [ ]:
Num=int(input("Enter a number to find :"))
if Num>0:
  print(f"The given number {Num} is Positive ")
elif(Num<0):
  print(f"The given number {Num} is Negetive ")
else:
  print(f"The given number {Num} is Zero ")

Enter a number to find :-19
The given number -19 is Negetive

Program to find given number is ODD or EVEN

In [ ]:
Number=int(input("Enter a number to find Even or Odd:"))
if Number%2==0:
  print(f"The given number {Number} is Even ")
else:
  print(f"The given number {Number} is Odd ")

Enter a number to find Even or Odd:24
The given number 24 is Even

Program to check given year is Leap year or Not

In [ ]:
year=int(input("Enter a number to find Even or Odd:"))
if (year%400==0) and (year%100==0) :
  print(f"The given number {year} is Leap Year ")
if (year%4==0) and (year%100!=0) :
  print(f"The given number {year} is Leap Year ")
else:
  print(f"The given number {year} is Not a Leap Year ")

Enter a number to find Even or Odd:2024
The given number 2024 is Leap Year

Program to check prime number

In [ ]:
numb=int(input("Enter a number to check prime :"))
count=1
for i in range(2,numb):
  if(numb%i ==0):
    count=count+1
    break
if(count>1):
  print(f"The given number {numb} is not Prime number")
else:
  print(f"The given number {numb} is a Prime number")

Enter a number to check prime :27
The given number 27 is not Prime number

Program to print all prime number in given range

In [ ]:
startrange=int(input("Enter startrange number of prime :"))
endrange=int(input("Enter endrange number of prime :"))

for num in range(startrange,endrange+1):
  if(num>1):
    for i in range(2,num):
      if(num%i) ==0:
        break
else:
  print(f"Prime numbers in given range {num} ")

Enter startrange number of prime :1
Enter endrange number of prime :10
Prime numbers in given range 10

Program to find factorial of given number

In [ ]:
Factno=int(input("Enter number print factorial  :"))
fact=1
if Factno>1:
  for i in range(1,Factno+1):
    fact=fact*i
    print("i is :",i)

print(f"Factorial of given no {Factno} is, {fact}")

Enter number print factorial  :7
i is : 1
i is : 2
i is : 3
i is : 4
i is : 5
i is : 6
i is : 7
Factorial of given no 7 is, 5040

Program to print multiplication table for given no

In [ ]:
mno=int(input("Enter number print multiplication table  :"))
if mno>1:
  for i in range(1,11):
    print(f"{mno} x {i} = {mno*i}")

Enter number print multiplication table  :2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Program to print febinacci series till given no

In [ ]:
sno=int(input("Enter number print febinacci series  :"))
a=0
b=1
i=0

while i<=sno:
  print(a)
  srno=a+b
  a=b
  b=srno
  i=i+1

Enter number print febinacci series  :10
0
1
1
2
3
5
8
13
21
34
55

Program to check given no is armstrong number or NOT
Hint: if given no is 157
Qube of each digit and sum is equal to guven no
1**3+5**3+7**3=157

In [ ]:
givenno=int(input("Enter number check armstrong  :"))

while(givenno>0):
  tmp=givenno%10
  tmp=tmp+tmp**3
  givenno=givenno/10
  print(tmp)
  print(givenno)

program to find sum of natural nos in given range

In [22]:
startnm=int(input("Enter starting range of no  :"))
endnm=int(input("Enter ending range of nos  :"))
sum=0
for i in range(startnm, endnm+1):
  sum = sum+i

print(f"Sum of natural numbers in range from {startnm} to {endnm} is {sum}")

Enter starting range of no  :1
Enter ending range of nos  :10
Sum of natural numbers in range from 1 to 10 is 55

Program to find sum of given array elements

In [35]:
arr=[2,4,2,6,7,3,4,9,1]
sumofarr=0
total=0
for element in arr:
  sumofarr=sumofarr+element

print("Sum of the given Array Elemnts is ", sumofarr)

def sumof_arr(arr):
  total=0
  print(arr)
  for element in arr:
    total=total+element
  return total
print("Sum of the given Array Elemnts is by def ", total)

Sum of the given Array Elemnts is  38
Sum of the given Array Elemnts is by def  0

Program to find largest element in the array

In [41]:
arr=[2,4,2,6,7,3,4,9,1]
largeno=1
def find_big(arr):
  for n in arr:
    if(largeno>n):
      largeno=n
      print("-----------------",n)
  return largeno
print(largeno)

1

Program to find unique dictionary values

In [47]:
dict = {
 'a': 10,
 'b': 20,
 'c': 10,
 'd': 30,
 'e': 20
}
dictn = {
 'f': 40,
 'g': 50,
}
sumof_vals=0
temp_set=set()
for i in dict.values():
  temp_set.add(i)
  sumof_vals=sumof_vals+i
  unique_value_list=list(temp_set)

merged_dict={**dict, **dictn}

print("Unique values in dictionary",unique_value_list)
print("Sumof dictnory values",sumof_vals)
print("Merged Dictionary ",merged_dict)

Unique values in dictionary [10, 20, 30]
Sumof dictnory values 90
Merged Dictionary  {'a': 10, 'b': 20, 'c': 10, 'd': 30, 'e': 20, 'f': 40, 'g': 50}

Programs to find letters and digit count in given String

In [50]:
strng=input("Enter a string to find digits and numbers count:")
dcount=0
lcount=0
for char in strng:
  if char.isalpha():
    lcount=lcount+1
  elif char.isdigit():
    dcount+=1

print (f"Given String has {dcount} digits and {lcount} letters")

Enter a string to find digits and numbers count:this is my 1234 program
Given String strng has4 digits and 15 letters