<a href="https://colab.research.google.com/github/rajgit-123/MyProject/blob/master/Sampleprograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This note book starts with python beginner programs

1.Program for basic Arith-ops

In [11]:
#Addition Op +
num1= int(input("enter number for num1 :"))
num2= int(input("enter number for num2 :"))
sumofnums=num1+num2
print("Sum of numbers is :", sumofnums)

#subtraction Op -
subofnums=num1-num2
print("subtraction of numbers is :",subofnums  )

#multiplication Op *
multofnums=num1*num2
print("Multiplication of numbers is ", multofnums)

#devision  Op /
if(num2==0):
  print("Error: Division by zero is not allowed.")
else:
  divofnums=num1/num2
  print("Division of numbers is :", divofnums)

#mod Op %
if(num2==0):
  print("Error: Zero is not allowed in denominator.")
else:
  modofnums=num1%num2
  print("mod of numbers is : ", modofnums)

#Sqare Op **
sqrofnums=num1**num2
print("Sqare of numbers is : ", sqrofnums)

enter number for num1 :10
enter number for num2 :0
Sum of numbers is : 10
subtraction of numbers is : 10
Multiplication of numbers is  0
Error: Division by zero is not allowed.
Error: Zero is not allowed in denominator.
Sqare of numbers is :  1

Program to find Area of triangel
Hint: Area=1/2(length*height)

In [16]:
length = float(input("Enter trianle length :"))
height = float(input("Enter trinagle height :"))

area=1/2*length*height

print("Area of traiangle is :", area)

Enter trianle length :10
Enter trinagle height :15
Area of traiangle is : 75.0

Program for swap two numbers

In [21]:
var1= int(input("Enter value for var1 : "))
var2= int(input("Enter value for var2 : "))

print(f"Values before swapping var1={var1}, var2={var2}")

#without temp with operators
var1= var1+var2
var2=var1-var2
var1=var1-var2
print(f"Values after swapping without temp var1={var1}, var2={var2}")

#with temp with swapped values var1=20,var2=10
print(f"Values before swapping var1={var1}, var2={var2}")
temp=var1
var1=var2
var2=temp
print(f"Values after swapping with temp var1={var1}, var2={var2}")

Enter value for var1 : 10
Enter value for var2 : 20
Values before swapping var1=10, var2=20
Values after swapping without temp var1=20, var2=10
Values before swapping var1=20, var2=10
Values after swapping with temp var1=10, var2=20

Program to genrate random number between given range
Hint: using random function

In [31]:
import random
print(f"Print Random number each time we run, {random.randint(1,50)}")

Print Random number each time we run, 41

Program to convert meter to centimeter
meters to kilometers
Hint: 1km = 1000 meters
1 meter=100 cms

In [36]:
var1=int(input("Enter meters to convert :"))
centimeters=var1*100
print(f"{var1} meters are equals to {centimeters} centimeters.")
kilometer=var1/1000
print(f"{var1} meters are equals to {kilometer} kilometers.")

Enter meters to convert :500
500 meters are equals to 50000 centimeters.
500 meters are equals to 0.5 kilometers.

Program to print Calander of given year month
Hint: Using calander function

In [38]:
import calendar
year=int(input("Enter year of calendar :"))
month=int(input("Enter month of calendar :"))

cal=calendar.month(year,month)
print("Find the calendar of given year and month ", cal)

Enter year of calendar :1990
Enter month of calendar :8
Find the calendar of given year and month      August 1990
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

Program to find given number is Positive or Negetive or Zero

In [43]:
Num=int(input("Enter a number to find :"))
if Num>0:
  print(f"The given number {Num} is Positive ")
elif(Num<0):
  print(f"The given number {Num} is Negetive ")
else:
  print(f"The given number {Num} is Zero ")

Enter a number to find :-19
The given number -19 is Negetive

Program to find given number is ODD or EVEN

In [45]:
Number=int(input("Enter a number to find Even or Odd:"))
if Number%2==0:
  print(f"The given number {Number} is Even ")
else:
  print(f"The given number {Number} is Odd ")

Enter a number to find Even or Odd:24
The given number 24 is Even

Program to check given year is Leap year or Not

In [53]:
year=int(input("Enter a number to find Even or Odd:"))
if (year%400==0) and (year%100==0) :
  print(f"The given number {year} is Leap Year ")
if (year%4==0) and (year%100!=0) :
  print(f"The given number {year} is Leap Year ")
else:
  print(f"The given number {year} is Not a Leap Year ")

Enter a number to find Even or Odd:2024
The given number 2024 is Leap Year

Program to check prime number

In [58]:
numb=int(input("Enter a number to check prime :"))
count=1
for i in range(2,numb):
  if(numb%i ==0):
    count=count+1
    break
if(count>1):
  print(f"The given number {numb} is not Prime number")
else:
  print(f"The given number {numb} is a Prime number")

Enter a number to check prime :27
The given number 27 is not Prime number