<a href="https://colab.research.google.com/github/rajgit-123/MyProject/blob/master/TMDB_5000_Movie_Dataset_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
organizations_tmdb_tmdb_movie_metadata_path = kagglehub.dataset_download('organizations/tmdb/tmdb-movie-metadata')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv
/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv

In [ ]:
import pandas as pd
import numpy as np

path="/kaggle/input/tmdb-movie-metadata/"
df=pd.read_csv(path + "tmdb_5000_credits.csv")

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [ ]:
#Clean Cast column
#df["cast"][0] # to see all data in a column cast

#
# '[{"cast_id": 242,
# "character": "Jake Sully",
# "credit_id": "5602a8a7c3a3685532001c9a",
# "gender": 2,
# "id": 65731,
# "name": "Sam Worthington",
# "order": 0},

# #[{"credit_id": "52fe48009251416c750aca23",
# "department": "Editing",
# "gender": 0,
# "id": 1721,
# "job": "Editor",
# "name": "Stephen E. Rivkin"}

#creted new columns for the cast column data
df["cast_id"]=df.cast.str.split(",").str.get(0)
df["character"]=df.cast.str.split(",").str.get(1)
df["credit_id"]=df.cast.str.split(",").str.get(2)
df["gender"]=df.cast.str.split(",").str.get(3)
df["id"]=df.cast.str.split(",").str.get(4)
df["name"]=df.cast.str.split(",").str.get(5)
df["order"]=df.cast.str.split(",").str.get(6)

#genders = df['gender'].tolist()

# show the list
#print(genders)

In [ ]:
#Clean Cast_id column
df["cast_id"][0] # to see all data in a column cast_id
#'[{"cast_id": 242'

#remove column names for all column data
df["cast_id"]=df.cast_id.str.split(":").str.get(1)

df["character"]=df.character.str.split(":").str.get(1)

df["credit_id"]=df.credit_id.str.split(":").str.get(1)

df["gender"]=df.gender.str.split(":").str.get(1)

df["id"]=df.id.str.split(":").str.get(1)

df["name"]=df.name.str.split(":").str.get(1)

df["order"]=df.order.str.split(":").str.get(1)

In [ ]:

#df["crew"][0]
# #[{"credit_id": "52fe48009251416c750aca23",
# "department": "Editing",
# "gender": 0,
# "id": 1721,
# "job": "Editor",
# "name": "Stephen E. Rivkin"}

In [ ]:
#df.head()
#creted new columns for the crew column data

df["crew_credit_id"]=df.crew.str.split(",").str.get(0)
df["crew_department"]=df.crew.str.split(",").str.get(1)
df["crew_gender"]=df.crew.str.split(",").str.get(2)
df["crew_id"]=df.crew.str.split(",").str.get(3)
df["crew_job"]=df.crew.str.split(",").str.get(4)
df["crew_name"]=df.crew.str.split(",").str.get(5)

df.head()

#remove column names
df["crew_credit_id"]=df.crew_credit_id.str.split(":").str.get(1)
df["crew_department"]=df.crew_department.str.split(":").str.get(1)
df["crew_gender"]=df.crew_gender.str.split(":").str.get(1)
df["crew_id"]=df.crew_id.str.split(":").str.get(1)
df["crew_job"]=df.crew_job.str.split(":").str.get(1)
df["crew_name"]=df.crew_name.str.split(":").str.get(1)

df.head()

,movie_id,title,cast,crew,cast_id,character,credit_id,gender,id,name,order,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",242,"""Jake Sully""","""5602a8a7c3a3685532001c9a""",2,65731,"""Sam Worthington""",0},"""52fe48009251416c750aca23""","""Editing""",0,1721,"""Editor""","""Stephen E. Rivkin""}"
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4,"""Captain Jack Sparrow""","""52fe4232c3a36847f800b50d""",2,85,"""Johnny Depp""",0},"""52fe4232c3a36847f800b579""","""Camera""",2,120,"""Director of Photography""","""Dariusz Wolski""}"
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",1,"""James Bond""","""52fe4d22c3a368484e1d8d6b""",2,8784,"""Daniel Craig""",0},"""54805967c3a36829b5002c41""","""Sound""",2,153,"""Original Music Composer""","""Thomas Newman""}"
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",2,"""Bruce Wayne / Batman""","""52fe4781c3a36847f8139869""",2,3894,"""Christian Bale""",0},"""52fe4781c3a36847f81398c3""","""Sound""",2,947,"""Original Music Composer""","""Hans Zimmer""}"
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",5,"""John Carter""","""52fe479ac3a36847f813ea75""",2,60900,"""Taylor Kitsch""",0},"""52fe479ac3a36847f813eaa3""","""Writing""",2,7,"""Screenplay""","""Andrew Stanton""}"

In [ ]:
# def clean_cols(x):
#     x=x.strip('"')
#     return x
#df['character'] = df['character'].str.strip('""')
#df['character'] = df['character'].str.strip('"')
#df['character'] = df['character'].str.strip(''')
#df['character']=df['character'].apply(clean_cols)
#df['character']=df.character.str.replace(""", "")

#remove all the extra character like " " ,}
df['character'] = df['character'].str.replace('"', '')
df['credit_id'] = df['credit_id'].str.replace('"', '')
df['crew_credit_id'] = df['crew_credit_id'].str.replace('"', '')
df['name'] = df['name'].str.replace('"', '')
df['order'] = df['order'].str.replace('}', '')
df['crew_department'] = df['crew_department'].str.replace('"', '')
df['crew_job'] = df['crew_job'].str.replace('"', '')
df['crew_name'] = df['crew_name'].str.replace('"', '')
df['crew_name'] = df['crew_name'].str.replace('}', '')
df['crew_name'][0]


#df.info()
#df['gender'].type

# df=df.drop(['cast', 'crew'], axis=1, inplace=True)
df.head()

threshold = len(df) * 0.5
df = df.dropna(thresh=threshold, axis=1)
df.head()

#cleaned_df=df["movie_id","title","cast_id","character","credit_id","gender","order","crew_credit_id","crew_department","crew_gender","crew_id","crew_job","crew_name"]

#cleaned_df.head()

,movie_id,title,cast,crew,cast_id,character,credit_id,gender,id,name,order,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",242,Jake Sully,5602a8a7c3a3685532001c9a,2,65731,Sam Worthington,0,52fe48009251416c750aca23,Editing,0,1721,Editor,Stephen E. Rivkin
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4,Captain Jack Sparrow,52fe4232c3a36847f800b50d,2,85,Johnny Depp,0,52fe4232c3a36847f800b579,Camera,2,120,Director of Photography,Dariusz Wolski
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",1,James Bond,52fe4d22c3a368484e1d8d6b,2,8784,Daniel Craig,0,54805967c3a36829b5002c41,Sound,2,153,Original Music Composer,Thomas Newman
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",2,Bruce Wayne / Batman,52fe4781c3a36847f8139869,2,3894,Christian Bale,0,52fe4781c3a36847f81398c3,Sound,2,947,Original Music Composer,Hans Zimmer
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",5,John Carter,52fe479ac3a36847f813ea75,2,60900,Taylor Kitsch,0,52fe479ac3a36847f813eaa3,Writing,2,7,Screenplay,Andrew Stanton

In [ ]:

#df['gender'].shape
#df['gender'] = df[df['gender'].isin([0, 1, 2])]
#df['gender'] = df.where(df.gender.isin([0, 1, 2]), np.nan)

#df['gender'] = df['gender'].where(df['gender'].isin([0, 1, 2]), np.nan)

#print(df['gender'].unique())
#df['gender'][100]

# df_filtered = df[df['gender'].isin([0, 1, 2])]

# #df.shape
# print(df_filtered['gender'].unique())
# df_filtered.head()

# **tmdb_5000_movies.csv** ****cleanig****

In [ ]:
import pandas as pd
import numpy as np

path="/kaggle/input/tmdb-movie-metadata/"
mv_df=pd.read_csv(path + "tmdb_5000_movies.csv")

mv_df.head()
mv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
mv_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:

#mv_df['genres'][0]
#creted new columns for the crew column data

# mv_df["genresid"]=mv_df.genres.str.split(",").str.get(0)
# mv_df["genresname"]=mv_df.genres.str.split(",").str.get(1)

# exploded = mv_df.explode("genres")
# pd.concat([exploded["genres"].reset_index(drop=True), pd.json_normalize(exploded["name"])], axis=1)

mv_df.info()

# #remove column names
# mv_df["genresid"]=mv_df.genresid.str.split(":").str.get(1)
# mv_df["genresname"]=mv_df.genresname.str.split(":").str.get(1)



# mv_df['genresid'][0] , mv_df['genresname'][0]

# #remove all the extra character like " " ,}
# mv_df['genresid'] = mv_df['genresid'].str.replace('"', '')
# mv_df['genresname'] = mv_df['genresname'].str.replace(']', '')
# mv_df['genresname'] = mv_df['genresname'].str.replace('[', '')

#mv_df['genres'][0]

# mv_df["genres_names"]=mv_df.genres.str.split(":").str.get(3)

#mv_df["genres"][0]

# def getgenres_names(text):
import json

def get_names(json_str):
    # Parse the JSON string into a list of dictionaries
    data = json.loads(json_str)

    # Extract the 'name' field from each dictionary in the list
    names = [item['name'] for item in data]

    return names

import re

def clean_name(input_str):
    # Remove '[', ']', ',', and '"' from the string
    cleaned_name = re.sub(r'[,\[\]"\']', '', input_str)
    cleaned_name = cleaned_name.replace(' ', ', ')
    return cleaned_name

def clean_language(lan):
    lan=lan.replace("en","English")
    return lan

def convert_to_millions(number, decimals=1):
    # Convert the number to millions and add "M", with optional rounding
    return f"{round(number / 1_000_000, decimals)}M"

mv_df["genres_names"]=mv_df.genres.apply(get_names).astype(str).apply(clean_name)
mv_df["key_words"]=mv_df.keywords.apply(get_names).astype(str).apply(clean_name)
mv_df["production_by"]=mv_df.production_companies.apply(get_names).astype(str).apply(clean_name)
mv_df["dubbed_in"]=mv_df.spoken_languages.apply(get_names).astype(str).apply(clean_name)
#mv_df['genres_names'] = mv_df['genres_names'].str.replace(']', '')
# mv_df['genres_names'] = mv_df['genres_names'].str.replace('[', '')

#mv_df["genres_names"]=mv_df["genres_names"].apply(str)

# mv_df['genres_names'] = mv_df['genres_names'].str.replace(']', '')
# mv_df['genres_names'] = mv_df['genres_names'].str.replace('[', '')
# mv_df['genresid'] = mv_df['genres_names'].str.replace('"', '')
# mv_df["genres_names"]=mv_df.genres_names.apply(clean_name)
# mv_df["key_words"]=mv_df.key_words.apply(clean_name)
# mv_df["production_company"]=mv_df.production_company.apply(clean_name)
# mv_df["Languages"]=mv_df.Languages.apply(clean_name)


#mv_df["genres_names"][0]
#mv_df.head()
mv_df["make_language"]=mv_df["original_language"].apply(clean_language)
mv_df["budget"]=mv_df["budget"].apply(convert_to_millions)
mv_df["revenue"]=mv_df["revenue"].apply(convert_to_millions)

features=['title','tagline','genres_names', 'release_date','key_words','make_language', 'dubbed_in', 'vote_count', 'vote_average','production_by','budget','revenue','runtime','homepage']
       # '', 'overview', 'popularity', 'production_companies',
       # 'production_countries', 'release_date', 'revenue', 'runtime',
       # 'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       # 'vote_count', 'genres_names', 'key_words', 'production_by', 'dubbed_in',
       # 'make_language']

#mv_df["status"].unique
#mv_df.head()
# #mv_df.columns #['budget', 'homepage', 'id', 'keywords', 'original_language',
#        'original_title', 'overview', 'popularity', 'production_companies',
#        'production_countries', 'release_date', 'revenue', 'runtime',
#        'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
#        'vote_count', 'genres_names', 'key_words', 'production_by', 'dubbed_in',
#        'make_language'],

cleaned_featured_df=mv_df[features]

cleaned_featured_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  genres_names          4803 non-null   object
 21  key_words             4803 non-null   object
 22  production_by         4803 non-null   object
 23  dubbed_in             4803 non-null   object
 24  make_language         4803 non-null   object
dtypes: float64(3), int64(4), object(18)
memory usage: 938.2+ KB

,title,tagline,genres_names,release_date,key_words,make_language,dubbed_in,vote_count,vote_average,production_by,budget,revenue,runtime,homepage
0,Avatar,Enter the World of Pandora.,"Action, Adventure, Fantasy, Science, Fiction",2009-12-10,"culture, clash, future, space, war, space, col...",English,"English, Español",11800,7.2,"Ingenious, Film, Partners, Twentieth, Century,...",237.0M,2788.0M,162.0,http://www.avatarmovie.com/
1,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Adventure, Fantasy, Action",2007-05-19,"ocean, drug, abuse, exotic, island, east, indi...",English,English,4500,6.9,"Walt, Disney, Pictures, Jerry, Bruckheimer, Fi...",300.0M,961.0M,169.0,http://disney.go.com/disneypictures/pirates/
2,Spectre,A Plan No One Escapes,"Action, Adventure, Crime",2015-10-26,"spy, based, on, novel, secret, agent, sequel, ...",English,"Français, English, Español, Italiano, Deutsch",4466,6.3,"Columbia, Pictures, Danjaq, B24",245.0M,880.7M,148.0,http://www.sonypictures.com/movies/spectre/
3,The Dark Knight Rises,The Legend Ends,"Action, Crime, Drama, Thriller",2012-07-16,"dc, comics, crime, fighter, terrorist, secret,...",English,English,9106,7.6,"Legendary, Pictures, Warner, Bros., DC, Entert...",250.0M,1084.9M,165.0,http://www.thedarkknightrises.com/
4,John Carter,"Lost in our world, found in another.","Action, Adventure, Science, Fiction",2012-03-07,"based, on, novel, mars, medallion, space, trav...",English,English,2124,6.1,"Walt, Disney, Pictures",260.0M,284.1M,132.0,http://movies.disney.com/john-carter