<a href="https://colab.research.google.com/github/rajgit-123/MyProject/blob/master/TMDB_5000_Movie_Dataset_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
organizations_tmdb_tmdb_movie_metadata_path = kagglehub.dataset_download('organizations/tmdb/tmdb-movie-metadata')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv
/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv

In [ ]:
import pandas as pd
import numpy as np

path="/kaggle/input/tmdb-movie-metadata/"
df=pd.read_csv(path + "tmdb_5000_credits.csv")

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [ ]:
#Clean Cast column
#df["cast"][0] # to see all data in a column cast

#
# '[{"cast_id": 242,
# "character": "Jake Sully",
# "credit_id": "5602a8a7c3a3685532001c9a",
# "gender": 2,
# "id": 65731,
# "name": "Sam Worthington",
# "order": 0},

# #[{"credit_id": "52fe48009251416c750aca23",
# "department": "Editing",
# "gender": 0,
# "id": 1721,
# "job": "Editor",
# "name": "Stephen E. Rivkin"}

#creted new columns for the cast column data
df["cast_id"]=df.cast.str.split(",").str.get(0)
df["character"]=df.cast.str.split(",").str.get(1)
df["credit_id"]=df.cast.str.split(",").str.get(2)
df["gender"]=df.cast.str.split(",").str.get(3)
df["id"]=df.cast.str.split(",").str.get(4)
df["name"]=df.cast.str.split(",").str.get(5)
df["order"]=df.cast.str.split(",").str.get(6)

#genders = df['gender'].tolist()

# show the list
#print(genders)

In [ ]:
#Clean Cast_id column
df["cast_id"][0] # to see all data in a column cast_id
#'[{"cast_id": 242'

#remove column names for all column data
df["cast_id"]=df.cast_id.str.split(":").str.get(1)

df["character"]=df.character.str.split(":").str.get(1)

df["credit_id"]=df.credit_id.str.split(":").str.get(1)

df["gender"]=df.gender.str.split(":").str.get(1)

df["id"]=df.id.str.split(":").str.get(1)

df["name"]=df.name.str.split(":").str.get(1)

df["order"]=df.order.str.split(":").str.get(1)

In [ ]:

#df["crew"][0]
# #[{"credit_id": "52fe48009251416c750aca23",
# "department": "Editing",
# "gender": 0,
# "id": 1721,
# "job": "Editor",
# "name": "Stephen E. Rivkin"}

In [ ]:
#df.head()
#creted new columns for the crew column data

df["crew_credit_id"]=df.crew.str.split(",").str.get(0)
df["crew_department"]=df.crew.str.split(",").str.get(1)
df["crew_gender"]=df.crew.str.split(",").str.get(2)
df["crew_id"]=df.crew.str.split(",").str.get(3)
df["crew_job"]=df.crew.str.split(",").str.get(4)
df["crew_name"]=df.crew.str.split(",").str.get(5)

df.head()

#remove column names
df["crew_credit_id"]=df.crew_credit_id.str.split(":").str.get(1)
df["crew_department"]=df.crew_department.str.split(":").str.get(1)
df["crew_gender"]=df.crew_gender.str.split(":").str.get(1)
df["crew_id"]=df.crew_id.str.split(":").str.get(1)
df["crew_job"]=df.crew_job.str.split(":").str.get(1)
df["crew_name"]=df.crew_name.str.split(":").str.get(1)

df.head()

,movie_id,title,cast,crew,cast_id,character,credit_id,gender,id,name,order,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",242,"""Jake Sully""","""5602a8a7c3a3685532001c9a""",2,65731,"""Sam Worthington""",0},"""52fe48009251416c750aca23""","""Editing""",0,1721,"""Editor""","""Stephen E. Rivkin""}"
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4,"""Captain Jack Sparrow""","""52fe4232c3a36847f800b50d""",2,85,"""Johnny Depp""",0},"""52fe4232c3a36847f800b579""","""Camera""",2,120,"""Director of Photography""","""Dariusz Wolski""}"
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",1,"""James Bond""","""52fe4d22c3a368484e1d8d6b""",2,8784,"""Daniel Craig""",0},"""54805967c3a36829b5002c41""","""Sound""",2,153,"""Original Music Composer""","""Thomas Newman""}"
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",2,"""Bruce Wayne / Batman""","""52fe4781c3a36847f8139869""",2,3894,"""Christian Bale""",0},"""52fe4781c3a36847f81398c3""","""Sound""",2,947,"""Original Music Composer""","""Hans Zimmer""}"
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",5,"""John Carter""","""52fe479ac3a36847f813ea75""",2,60900,"""Taylor Kitsch""",0},"""52fe479ac3a36847f813eaa3""","""Writing""",2,7,"""Screenplay""","""Andrew Stanton""}"

In [ ]:
# def clean_cols(x):
#     x=x.strip('"')
#     return x
#df['character'] = df['character'].str.strip('""')
#df['character'] = df['character'].str.strip('"')
#df['character'] = df['character'].str.strip(''')
#df['character']=df['character'].apply(clean_cols)
#df['character']=df.character.str.replace(""", "")

#remove all the extra character like " " ,}
df['character'] = df['character'].str.replace('"', '')
df['credit_id'] = df['credit_id'].str.replace('"', '')
df['crew_credit_id'] = df['crew_credit_id'].str.replace('"', '')
df['name'] = df['name'].str.replace('"', '')
df['order'] = df['order'].str.replace('}', '')
df['crew_department'] = df['crew_department'].str.replace('"', '')
df['crew_job'] = df['crew_job'].str.replace('"', '')
df['crew_name'] = df['crew_name'].str.replace('"', '')
df['crew_name'] = df['crew_name'].str.replace('}', '')
df['crew_name'][0]


#df.info()
#df['gender'].type

# df=df.drop(['cast', 'crew'], axis=1, inplace=True)
df.head()

threshold = len(df) * 0.5
df = df.dropna(thresh=threshold, axis=1)
df.head()

#cleaned_df=df["movie_id","title","cast_id","character","credit_id","gender","order","crew_credit_id","crew_department","crew_gender","crew_id","crew_job","crew_name"]

cleaned_df.head()

KeyError: ('movie_id', 'title', 'cast_id', 'character', 'credit_id', 'gender', 'order', 'crew_credit_id', 'crew_department', 'crew_gender', 'crew_id', 'crew_job', 'crew_name')

In [ ]:

#df['gender'].shape
#df['gender'] = df[df['gender'].isin([0, 1, 2])]
#df['gender'] = df.where(df.gender.isin([0, 1, 2]), np.nan)

#df['gender'] = df['gender'].where(df['gender'].isin([0, 1, 2]), np.nan)

#print(df['gender'].unique())
#df['gender'][100]

# df_filtered = df[df['gender'].isin([0, 1, 2])]

# #df.shape
# print(df_filtered['gender'].unique())
# df_filtered.head()